<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Toto app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<style>
		.todo-alert {
			position: fixed;
			top: 0;
			left: 10vw;
			width: 80vw;
			z-index: 100;
		}
	</style>
</head>

<body>
	<noscript>Esta pagina necesita js para poder reproducirse</noscript>
	<div class="container-fluid bg-primary text-light text-center mb-3">
		<div class="row">
			<div class="col-12">
				<h2>Todo app</h2>
			</div>
		</div>
	</div>
	<div class="container" id="app">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="alert fade show my-3 todo-alert" v-show="flags.alert.show" :class="'alert-'+flags.alert.type"
					role="alert">
					{{ flags.alert.msg }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-4 text-center">
				<form @submit.prevent="sendForm" v-if="flags.view == 'register' || flags.view == 'login'">
					<div class="form-group">
						<label for="exampleInputEmail1">Correo</label>
						<input type="email" class="form-control" id="exampleInputEmail1" v-model="email" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Contraseña</label>
						<input type="password" class="form-control" id="exampleInputPassword1" v-model="password" required>
					</div>
					<div v-if="flags.view == 'login'">
						<button type="submit" class="btn btn-primary">Iniciar sesión</button>
						<br>
						<button class="btn btn-link" @click.prevent.stop="flags.view = 'register'">registrarse</button>
					</div>
					<div v-if="flags.view == 'register'">
						<button type="submit" class="btn btn-primary">Registrarse</button>
						<br>
						<button class="btn btn-link" @click.prevent.stop="flags.view = 'login'">iniciar sesión</button>
					</div>
				</form>
				<div v-if="flags.view == 'tasks'" class="text-left">
					<div class="form-group mb-2">
						<input type="text" class="form-control" placeholder="Nueva tarea" v-model="newTask" @keyup.enter="addTask">
					</div>
					<ul class="list-group">
						<li v-for="task in tasks" class="list-group-item">
							<div class="d-flex">
								<div class="flex-grow-1">
									<input type="text" class="form-control bg-light border-light" :readonly="!task.isEditing"
										@click="task.isEditing = true" @blur="editTask(task)" v-model="task.name"
										@keyup.enter="editTask(task)">
								</div>
								<div class="flex-shrink-1">
									<button class="btn btn-link text-danger" @click="closeTask(task)">
										x
									</button>
								</div>
							</div>
						</li>
					</ul>
					<br>
					<small class="text-muted"><i>¿?: click sobre una tarea para editar <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; enter
							para guardar</i></small>
				</div>
				<div v-if="flags.view == 'loading'" class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		const app = new Vue({
			name: 'Todo',
			el: "#app",
			data() {
				return {
					email: "",
					password: "",
					id: "",
					tasks: [],
					newTask: '',
					flags: {
						view: "login", // login | register | tasks | loading
						alert: {
							show: false,
							type: '',
							msg: ''
						}
					}
				}
			},
			methods: {
				showAlert(type, msg) {
					this.flags.alert.show = true;
					this.flags.alert.type = type;
					this.flags.alert.msg = msg;
					setTimeout(() => {
						this.flags.alert.show = false;
					}, 3000);
				},
				sendForm() {
					const endpoint = this.flags.view;

					this.flags.view = 'loading';
					axios.post(`/${endpoint}`, {
						email: this.email,
						password: this.password
					})
						.then(res => {
							console.log(res.data);
							this.id = res.data._id;
							this.getTasks();
							this.showAlert('success', 'Bienvenido');
						})
						.catch(err => {
							console.error(err);
							this.flags.view = endpoint;
							this.email = '';
							this.password = '';
							this.showAlert('warning', 'Error de ingreso');
						})
				},
				getTasks() {
					this.flags.view = 'loading';
					axios.get(`/task/list/${this.id}`)
						.then(res => {
							this.flags.view = 'tasks';
							console.log(res.data);
							this.tasks = [];
							if (res.data && res.data.length)
								this.tasks = res.data.map(task => {
									return { ...task, isEditing: false, bname: task.name }
								})
						})
						.catch(err => {
							console.error(err);
							this.flags.view = 'login';
							this.email = '';
							this.password = '';
							this.showAlert('warning', 'No se encontraron tareas');
						})
				},
				addTask() {
					this.flags.view = 'loading';
					axios.post('/task/add', {
						name: this.newTask,
						userId: this.id,
						isClosed: false
					})
						.then(res => {
							console.log(res)
							this.getTasks();
						})
						.catch(err => {
							console.error(err);
							this.showAlert('warning', 'No se pudo agregar la tarea');
						})
						.finally(() => {
							this.newTask = '';
						})
				},
				closeTask(task) {
					this.flags.view = 'loading';
					axios.put('/task/edit', {
						name: task.name,
						id: task._id,
						isClosed: true
					})
						.then(res => {
							console.log(res)
						})
						.catch(err => {
							console.error(err);
							this.showAlert('warning', 'No se pudo cerrar la tarea');
						})
						.finally(() => {
							this.getTasks();
						})
				},
				editTask(task) {
					task.isEditing = false;
					if (task.bname == task.name) return;
					this.flags.view = 'loading';
					axios.put('/task/edit', {
						name: task.name,
						id: task._id,
						isClosed: false
					})
						.then(res => {
							console.log(res)
						})
						.catch(err => {
							console.error(err);
							this.showAlert('warning', 'No se pudo actualizar la tarea');
						})
						.finally(() => {
							this.getTasks();
						})
				}
			},
			created() {
				axios.defaults.baseURL = 'http://localhost:8500';
			}
		});
	</script>
</body>

</html>